.bgPrimary {
  background: linear-gradient(to right, #4a90e2, #3f51b5);
}

.card {
  border-radius: 12px;
  background: #fff;
}

.formControl {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.formControl:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 10px rgba(63, 81, 181, 0.1);
}

.btn.btnPrimary {
  background-color: #3f51b5;
  border: none;
  padding: 12px 0;
  transition: background-color 0.3s ease;
}

.btn.btnPrimary:hover {
  background-color: #283593;
}

.textMuted {
  font-size: 0.9rem;
}

.imgFluids {
  width: 550px;
  height: 650px;
  border-radius: 10px;
  animation: bounce 0.9s infinite;
}

/* Bounce Animation */
/* @keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
} */

@media (max-width: 768px) {
  .containerFluid {
    padding: 0;
  }
  .card {
    margin: 20px;
  }
}
